.fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: white;
    justify-content: center;
}

.row{
    display: flex;
    padding: 0px;
 }
 .col{
    flex: 1 1;
    text-align: left;
 }


.wrapper {
    flex: 1;
    flex-direction: column;
}

.card {
    /* height: 75%; */
    /* width: 80%; */
    /* background-color: green; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    /* overflow: auto; */
    /* overflow-y:hidden; */

}

.card-div {
    flex-direction: row;
}

.row-card {
    background-color: red;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.emailDiv {
    margin-right: 100px;
    margin-left: 100px;
}
.form-label {
    font-size: 14px;
}
.input-field {
    font-size: 13px;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid red ;
}

.row-div {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
}

.container-1 {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    height: 30%;

}

.login-button {
    background-color: #E42E2E !important;
    margin: 10px;
    padding: 10px 35px 10px 35px !important;
    border-radius: 25px !important;
    color: white;
    font-size: medium;
    border-width: 0px;
}

.header-style { 
    width:100%;
    margin: 0 auto; 
    justify-content: center;
    text-align:center; 
    border-bottom: 1px solid #000; 
    line-height:0.1em; 
    margin:10px 0 20px; 
} 
.header-span { 
    background:#fff; 
    padding:0 10px; 
    font-size: small;
}
/* .h2 hr {
    width: 0%;
    color: red;
} */

html,body{height:100%;}

