.boxShadow{
    box-shadow: 0px 4px 64px rgb(0 0 0 / 13%);
    border-radius: 8px;
    margin: auto;
}
.b-radius {
    border-radius: 8px;
}
.wdth {
    width: 300px;
    display: inline;
}
.footer-setting{
    padding: 16px;
}
.main-head{
    font-size: 30px;
    font-weight: 700;
}
.footer-col-6{
    padding: 24px;
}
.inner-footer-col-6{
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    padding: 20px;
    height: 370px;
    border-radius: 8px;
    .sub-head{
        font-size: 20px;
        font-weight: 700;
        padding: 8px;
        margin: 12px;
    }
    .form-group{
        padding-inline: 16px;
        padding-top: 8px;
    }
    .lebel{
        font-size: 14px;
        font-weight: 600;
    }
}
.pseudo-adjust{
    height: 150px;
    margin: 36px;
    width: 100%;
}
.head2{
    font-size: 16px;
        font-weight: 600;
        padding: 4px;
}
.lebel2{
    padding-inline: 6px;
}
.margin-6{
    margin: 6px;
}