.add-container {
    .form-group {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin-bottom: 2rem;
        .form-control {
            background-color: rgb(230, 228, 228);
        }
    }
    .title-block {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 24px;
        color: black;
    }
    .sub_head {
        font-size: 18px;
        color: black;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .add-form {
        margin: 36px;
        background-color: white;
    }
    .submit-Button {
        display: inline-block;
        position: absolute;
        left: 43%;
        right: 43%;
        margin-top: 48px;
    }
}

.classroom-type {
    padding: 24px 8px 24px 8px;
    .add-form {
        background-color: white;
        margin: 36px;
        padding: 16px;
        box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
        .form-group{
            margin-inline: 16px;
            label {
                padding: 8px;
                font-size: 14px;
            }
            .form-control{
                background-color: rgb(230, 228, 228);
            }
        }
        .button-css{
            .left{
                position: relative;
                left: 30px;
                top: 30px;            }
            .right{
                position: relative;
                left: 1026px;
                top: -10px;            }
        }

    }
}
.titleBlock {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    color: black;
}