@media screen and (max-width: 510px) {
    .school-image-alignment {
        height: 250px;
    } 
}

@media screen and (min-width: 768px) {
    .school-image-alignment {
        height: 450px;
    } 
}

@media screen and (min-width: 1024px) {
    .school-image-alignment {
        height: 520px;
        width: 100%;
    } 
}

@media screen and (min-width: 1440px) {
    .school-image-alignment {
        height: 480px;
        width: 100%;
    } 
}